name: Deploy PHP App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_KEY }}
          port: 2121
          script: |
            set -e

            cd /var/www/testing-app

            git pull origin main

            chown -R www-data:www-data .
            chmod -R 755 .

            systemctl reload php8.2-fpm
            systemctl reload nginx